@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background: #01000c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .decor-light-blue {
    border-radius: 1314.958px;
    background: var(--Daybreak-Blue-blue-5, #40a9ff);
    filter: blur(50px);
  }

  .decor-dark-blue {
    border-radius: 464.454px;
    background: #2645da;
    filter: blur(100px);
  }

  /* Embla styles */
}
